@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import "tailwindcss";
html{
  font-size:90%;
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-verde: #89e219;
    --color-preto: #4b4b4b;
    --color-branco: #f7f9f8;
    --color-roxo: #7f2b74;
    --color-verde-escuro: #58cc02;
    --font-jersey:"Jersey 10", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-tiny: "Tiny5",sans-serif;
}
